.imagen-cabecera {
    background-position: center;
    height: 200px;
    width: 100%;
}

.imagen-cabecera h1 {
    color: white;
    text-shadow: 2px 2px var(--blue);
}

.faqs {
    margin-top: 2rem;
    position: relative;
    margin-bottom: 2rem;
    justify-content: center;
    align-content: center;
}

.faq {
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    margin-bottom: 20px;
}

.faq p {
    text-align: center;
}

.faq h4 {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 18px;
    color: #333;
    margin: 0;
}