.imagen-cabecera {
    background-image: url("https://images.unsplash.com/photo-1620052687177-9ba9e51a4ea6?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
}

.imagen-cabecera h1,
.imagen-cabecera h2 {
    color: white;
    text-shadow: 2px 2px var(--blue);
}

.main-section-ex {
    grid-column: 2 / 3;
    margin: 3rem 0rem;
    display: grid;
    grid-template-columns: 60% 40%;
}

.description {
    grid-column: 1 / 2;
    padding: 1rem;
}

.booking {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
    padding: 1rem;
}

.booking button {
    align-self: center;
}

.description h2,
.booking h2 {
    text-align: center;
}

video {
    max-width: 100%;
    height: auto;
    margin: 1rem;
}

.calendar {
    margin: 1rem;
}

/*Calendario de reservas*/
.month {
    padding: 70px 25px;
    width: 100%;
    text-align: center;
}

.month ul {
    list-style-type: none;
}

.month ul li {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    padding: 0.6rem 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: calc(100%/8);
    color: #666;
    text-align: center;
}

.days {
    padding: 10px 0;
    background: #eee;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: calc(100%/8);
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
    color: #777;
}

.days li .active {
    padding: 0.4rem;
}

/* Media queries */

@media (max-width: 920px) {
    .main-section-ex {
        grid-template-columns: 100%;
    }

    .description {
        grid-column: 1;
        padding: 1rem;
    }

    .booking {
        grid-column: 1;
        padding: 1rem;
    }


}

/* Calendario */
@media screen and (max-width:720px) {

    .weekdays li,
    .days li {
        width: 13.1%;
    }
}

@media screen and (max-width: 420px) {

    .weekdays li,
    .days li {
        width: 12.5%;
    }

    .days li .active {
        padding: 2px;
    }
}

@media screen and (max-width: 290px) {

    .weekdays li,
    .days li {
        width: 12.2%;
    }

}