.imagen-cabecera {
    background-image: url("img/monte.jpeg");
    background-position: center;
    height: 200px;
    width: 100%;
}

.imagen-cabecera h1 {
    color: white;
    text-shadow: 2px 2px var(--blue);
}



.imagen-somos-1,
.imagen-somos-2 {
    height: 200px;
    background-position: center;
    background-size: cover;
}

.imagen-somos-1 {
    background-image: url("img/taganana.jpeg");
}

.imagen-somos-2 {
    background-image: url("img/mirador.jpeg");
}

.nosotros-section {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.animate-section {
    text-align: center;
    justify-content: center;
    align-content: center;
    position: relative;
    margin-bottom: 3rem;
}


.historia, .imagen-somos-1, .imagen-somos-2 {
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
    width: 600px;
    font-style: normal;
    margin-bottom: 2rem;
    margin-bottom: 20px;
}





.texto-historia {
    text-align: justify;
    flex: 1;
    padding: 20px;
    background: white; /* Agregamos un fondo blanco detrás del texto */
    opacity: 0.8; /* Ajustamos la opacidad para que el texto sea legible */
}
