.imagen-cabecera {
    background-image: url("../img/monte.jpeg");
    background-position: center;
    height: 300px;
    width: 100%;
}

.imagen-cabecera h1 {
    color: white;
    text-shadow: 2px 2px var(--blue);
}

.nosotros-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.historia {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 2rem 2rem 2rem;
}

.historia img {
    width: 600px;
    height: 200px;
    padding: 20px;
    object-fit: cover;
    object-position: center;
}

.texto-historia {
    text-align: justify;
    padding: 20px;
    width: 600px;
}

.texto-historia p {
    margin: 0rem;
}

.animate-section {
    text-align: center;
    justify-content: center;
    align-content: center;
    position: relative;
    margin-bottom: 3rem;
}

@media (max-width: 1300px) {
    .historia {
        flex-direction: column;
        align-items: center;
    }

    #img-historia-2 {
        order: 2;
        /* Cambiar el orden de la imagen */
    }
}

@media screen and (max-width: 768px) {

    .texto-historia,
    .historia img {
        width: 100%;
        /* Ajustar el ancho al 100% cuando se apilen */
    }
}