:root {
    /*Colores globales*/
    --blue: #036;
    --orange: #C60;
    --yellow: #FC3;
    --text: #666;
    --title: #333;
}

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-size: 16px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

/*Elementos de la cabecera*/
header {
    width: 100%;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}

.header-logo {
    height: 75px;
}

#navbar-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 0.8rem 0.4rem;
}

.navbar-list li {
    list-style-type: none;
    display: inline-block;
    background-color: white;
}

.navbar-list li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: var(--blue);
    font-family: "Montserrat";
    font-weight: 800;
}

.navbar-list li a:hover {
    color: var(--orange);
    text-decoration: underline;
}

/*La clase .dropdown-content estiliza el contenido desplegable. Está oculta por defecto y se mostrará al hacer "hover" sobre .dropdown*/
.dropdown {
    display: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content li {
    display: block;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/*La clase .dropdown estiliza el elemento <li> que "activa" el menú desplegable al hacer "hover" sobre él.*/
.dropdown:hover .dropdown-content {
    display: block;
}

/*Menú hamburguesa*/
.menu-toggle {
    height: 75px;
    width: 75px;
    display: none;
    border: none;
    cursor: pointer;
    /*Lo posicionamos absolutamente en la esquina superior derecha (se tiene en cuenta el margin de nav#navbar-header) */
    position: absolute;
    right: 0.4rem;
    top: 0.8rem;
    /* Ocultamos el check */
    opacity: 0;
    /* Lo ponemos encima del icono hamburguesa  */
    z-index: 1;
}

.burger-icon {
    height: 75px;
    width: 75px;
    fill: var(--blue);
    display: none;
    float: right;
}

.menu-toggle:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.5em;
}

/*Selector de idioma*/
.language-icon {
    height: 20px;
    fill: var(--blue);
    margin-left: 0.2em;
}

.navbar-list li a:hover .language-icon {
    fill: var(--orange);
}

/*Botones sociales y Área personal*/
.social-links-header,
.client-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links-header a,
.client-area a {
    margin: 0.5em 0.3em;
    border-radius: 50%;
    color: var(--blue);
    transition: all 0.5s ease;
    text-decoration: none;
}

.social-icon,
.client-area-icon {
    width: 30px;
    height: 30px;
}

.social-links-header a:hover,
.client-area a:hover {
    color: var(--orange);
    transform: scale(1.2);
}

/*Estilos tipográficos genéricos*/
h1 {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 32px;
    color: var(--blue);
}

h2 {
    font-family: "Montserrat";
    font-weight: 800;
    font-size: 28px;
    color: var(--blue);
}

h3 {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 22px;
    margin: 1rem;
    color: var(--title);
}

h4 {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 18px;
    margin: 1rem;
    color: var(--title);
}

p {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    margin: 1rem;
    color: var(--text);
}

/*Colores de fondo por categoría*/
.bg-blue {
    background-color: var(--blue);
    color: white;
}

.bg-orange {
    background-color: var(--orange);
    color: white;
}

.bg-yellow {
    background-color: var(--yellow);
    color: var(--blue);
}

/*Breadcrumb*/
#breadcrumb {
    width: 100%;
    grid-column: 1/4;
    background-color: var(--blue);
}

ul.breadcrumb {
    margin-left: 12.5%;
    padding: 0.5em 0em;
    list-style: none;
}

ul.breadcrumb li {
    display: inline;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
}

/* Símbolo (/) antes de cada li */
ul.breadcrumb li+li:before {
    color: white;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: var(--blue);
    text-decoration: none;
    color: white;
}

ul.breadcrumb li a:hover {
    color: var(--orange);
    text-decoration: underline;
}

/*Main y contenido*/
/*Imagen cabecera*/
.imagen-cabecera {
    width: 100%;
    height: 600px;
    background-image: url("../img/header-home.jpg");
    background-size: cover;
    grid-column: 1 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.imagen-cabecera h1,
.imagen-cabecera h2 {
    text-align: center;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
    margin: 1rem;
}

.imagen-cabecera h1 {
    text-transform: uppercase;
}

main {
    width: 100%;
    display: grid;
    grid-template-columns: 5% 90% 5%;
}

.main-section {
    grid-column: 2 / 3;
    margin-top: 3rem;
}

.main-section h2 {
    text-align: center;
}

/*Estilos reviews*/
.review-section {
    margin: 2rem 0rem;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.rating {
    margin: 1rem;
    font-size: 24px;
    color: gold;
}

.review-card {
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin: 1%;
    width: 250px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.review-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
    transform: scale(1.03);
}

.review-card h3 {
    font-size: 18px;
}

.review-card p {
    text-align: justify;
    color: #666;
}

/*Estilos contacto*/
.contact-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    margin: 2rem 0rem;
}

.contact-info,
.contact-form {
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
    width: 600px;
    font-style: normal;
    margin-bottom: 2rem;
}

.contact-form form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contact-form form label {
    margin-bottom: 5px;
}

.contact-form form input,
.contact-form form textarea {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.contact-form-button {
    align-self: center;
    font-size: 1.2em;
    border-radius: 0.5em;
    border-style: none;
    padding: 0.5em 0.8em;
    margin: 0.5em;
    box-shadow: 0.1em 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.2);
    background-color: var(--blue);
    width: 150px;
    color: white;
}

.contact-form-button:hover {
    transform: scale(1.05);
    background-color: var(--orange);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.contact-form form textarea {
    height: 150px;
    resize: none;
}

/*Botones*/
.btn {
    font-size: 1.2em;
    border-radius: 0.5em;
    border-style: none;
    padding: 0.5em 0.8em;
    margin: 0.5em;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0.1em 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.2);
}

.btn a {
    display: inline-block;
    text-align: center;
    padding: 0.9rem 1rem;
    text-decoration: none;
    font-family: "Montserrat";
    font-weight: 800;
}

.btn:hover {
    transform: scale(1.1);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

button.bg-blue a {
    color: inherit;
}

button.bg-blue:hover {
    background-color: var(--orange);
}

button.bg-orange a {
    color: inherit;
}

button.bg-orange:hover {
    background-color: var(--blue);
}

button.bg-yellow a {
    color: var(--blue);
}

button.bg-yellow:hover {
    background-color: var(--blue);

}

button.bg-yellow:hover a {
    color: inherit;
}

/*Estilos enlace genérico:*/
.regular-anchor {
    color: var(--blue);
    text-decoration: none;
    font-weight: 800;
}

.regular-anchor:hover {
    color: var(--orange);
    text-decoration: underline;
}

/* footer */
.container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

footer ul {
    list-style: none;
}

footer {
    background-color: var(--blue);
    padding: 0;
}

.footer-col {
    width: 25%;
    padding: 5%;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: var(--orange);
    transform: translateX(8px);
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: var(--orange);
    background-color: #ffffff;
}

.sub-container {
    border-top: 1px solid #80808026;
    margin-top: 1em;
}

.sub-container ul {
    display: flex;
    flex-direction: row;
    padding: 1em;
    justify-content: space-between;
}

.full-col {
    width: 100%;
    padding: 2.5%;
}

#title-1n-footer {
    margin-bottom: 0;
}

.footer-logo {
    width: 75%;
    height: 50%;
    margin: 0em;
    padding: 0em;
    display: inline-block;
}

footer h2 {
    color: white;
    font-size: 20px;
    padding: 1em 0;
}

ul.tos>li {
    padding: .5em;
}

/*Media queries*/
@media (max-width: 1300px) {

    header,
    #navbar-header {
        display: block;
    }

    .navbar-list,
    .social-links-header,
    .client-area {
        display: none;
    }

    .menu-toggle,
    .burger-icon {
        display: block;
    }

    .navbar-list li {
        display: block;
        background-color: rgba(0, 0, 0, 0.1);
    }

    /*Cuando se haga click en el botón de check (icono hamburguesa) se muestra el menú de navegación, el selector de idiomas, los botones sociales y el área de cliente*/
    .menu-toggle:checked~.navbar-list,
    .menu-toggle:checked~.social-links-header,
    .menu-toggle:checked~.client-area {
        display: block;
    }

    .menu-toggle:checked~section {
        padding: 14px 16px;
        margin-top: 0.5em;
    }

    .dropdown-content {
        position: static;
        box-shadow: none;
    }
}

@media(max-width: 767px) {

    /*Footer*/
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }

    .full-col {
        width: 100%;
    }
}

@media(max-width: 574px) {

    /*Footer*/
    .footer-col {
        width: 100%;
    }
}